//- (c)2015 by Gerald Wodni

extends layout

block content
    .container
        h1 About
        p M. Anton Ertl had told Gerald Wodni(me) on the way to Euroforth 2009 how nice it would be to have a web 2.0 like platform for Forth.
        | So this is my humble attempt to implement one. I hope some of you like the idea and contribute.

        h3 Privacy
        p Your email address is used for spam, we will send much of it!

        h3 Web 2.0
        p We believe web 2.0 is the ability to interact on a website, not that tons of ajax annoy the user. This site can also be used with disabled javascript.

        h3 Contact
        p Feel free to me at firstname dot lastname @ biggest searchmachine .com
