//- (c)2015 by Gerald Wodni

extends layout

block content
    .container
        h1 Add a new package

        h2 Guidelines
        .alert.alert-danger
            b Warning: Under construction
            br
            | Upload is not working 100% correct, we are working on that. Do not blame authors for unexpected commas in their files ;)

        .alert.alert-warning
            b Warning: Dependencies disabled
            br
            | The Forth 200x Committee has discussed a new package format, which is currently implemented.
            | It is now possible to upload packages, but dependencies are currently ignored. So if you have packages with dependencies,
            | please refrain from uploading now.
            | As soon as it is fully implemented, this message will disappear.
        include packageGuidelines

        each message in messages
            .alert(class="alert-#{message.type}")
                b= message.title
                |  
                = message.text

        if !hideForm
            form(method='post',role='form',enctype="multipart/form-data").form-inline
                div.form-group
                    label Package (.tar.gz or .zip )
                    input.form-control(type="file",name="file")
                +hidden-field("set", "me")
                button.btn.btn-primary(type='submit',name='upload',value='yes')
                    i.fa.fa-upload
                    |  Upload
                p
                    |  

