//- (c)2015 by Gerald Wodni

extends layout

block content
    .container
        div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            h1 Change Password

            if error
                div.alert.alert-danger
                    strong
                        = error

            if success
                div.alert.alert-success
                    strong
                        = success

            // TODO: create CSRF module with site-prefix and application-prefix, or just the current url?
            form(method='post',role='form')
                +password-field('password', __("Password"))
                +password-field('password2', __("Confirm password"))
                +hidden-field("csrf", csrf)
                button.btn.btn-primary(type='submit',name='change',value='yes')=__("Change")
                p

