//- (c)2015 by Gerald Wodni

extends layout

block content

    .container
        h1 Contact
        p
            | This site is still under heavy work, please allow for some more weeks for an contact form.
