extends layout

block content
    +messages( messages )

    div.row
        div#editorPane.col-sm-4.tab-pane
            div#editor.inner
                | \ Flink
                | \ loading...
                | .( hallo editor ;)
        div(data-websocket-host="#{websocketHost}").col-sm-8.tab-pane#console

    +script('/js/ace.min.js')
    +script('/js/ace/ext-language_tools.min.js')
    +script('/js/jqconsole.min.js')
    +script('/js/reconnecting-websocket.js')
    +script('/js/console.js')
    +script('/js/flink.js')


