doctype html
include mixins
+script('/js/jquery.min.js')
+script('/js/jquery-ui.min.js')

mixin menuItem( link, icon, text )
    li
        a(href="/admin/#{link}")
            +glyph(icon)
            span.hidden-xs
                | 
                = text

html
    head
        title admin - kern.js
        +style('/css/jquery-ui-smoothness.min.css')
        +style('/css/console.css')
        +styles
        //link(rel="stylesheet", type="text/css" href="/css/admin.css")
        //link(rel="stylesheet", type="text/css" href="/css/console.css")
    body
        div.navbar.navbar-fixed-top(role='navigation')
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="/",title="Forth-Link")
                        | Flink
                ul
                    +menuItem("",           "info-sign",    __("Info"      ) )
                    +menuItem("navigation", "list",         __("Navigation") )
                    +menuItem("media",      "folder-open",  __("Media"     ) )
                    +menuItem("user",       "user",         __("Users"     ) )
                    +menuItem("locales",    "comment",      ""               )
                    +menuItem("logout",     "log-out",      __("Logout"    ) )

        div.container-fluid.main-content
            block content

        footer
            div.container-fluid
                div.row
                    div.col-xs-4
                        | powered by  
                        a(href='https://github.com/GeraldWodni/kern.js') kern.js
                    div.col-xs-8.text-right
                        | ©copyright 2014 by 
                        a(href='http://wodni.at') Gerald Wodni

        +script('/js/bootstrap.min.js')
        +scripts
