extends layout

//- prepend title
//-    = __("Authentification required")

block content
    .container
        div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            h1= __("Authentification required")

            if error
                div.alert.alert-danger
                    strong
                        = error

            if success
                div.alert.alert-success
                    strong
                        = success

            if( !hideLogin )
                form(method='post',role='form')
                    div.form-group
                        label(for='username')= __("Username")
                        input.form-control(id='username',type='text',name='username',placeholder='Name',autofocus="autofocus")
                    div.form-group
                        label(for='password')= __("Password")
                        input.form-control(id='password',type='password',name='password',placeholder='Passwort')
                    button.btn.btn-primary(type='submit',name='login',value='yes') Login

            if register
                if( !hideLogin )
                    p
                    div.separator
                        span Or
                    p

                if( !hideRegister )
                    form(method='post',role='form')
                        h3 Register
                        p
                            | Please compose your username out of A-Z, a-z, 0-9, '_' and '-', other characters are stripped.
                            br
                            | We recommend 
                            b GivennameLastname 
                            |  i.e. 
                            b ChuckMoore

                        +text-field("username", __("Username"))
                        +text-field("email", __("Email"))
                        +password-field('password', __("Password"))
                        +password-field('password2', __("Confirm password"))
                        +text-field("captcha", __("Captcha"))
                        +hidden-field("csrf", csrf)
                        !=captchaPre
                        button.btn.btn-primary(type='submit',name='register',value='yes')=__("Register")
                        p

