h3 Basic rules
ul
    li A package consists of an archive
    li There is one root directory named exactly like the package
    li A file called "package.4th" is in the root directory, its syntax is explained below

h3 package.4th
h4 Words
ul
    li
        code forth-package
        |  start the definition of a package, should be in the first line
    li
        code key-value &lt;name&gt; &lt;value ...&gt;
        |  set the value of name to the remaining content of the line
    li
        code key-list &lt;list&gt; &lt;value ...&gt;
        |  create or append &lt;value&gt; to the &lt;list&gt;

h4 Mandatory keys
ul
    li
        code name
        |  name of the package starting with a letter, and consisting of letters, numbers or minus
        br
        | or more concise:
        code
            | [a-z]+[-a-z0-9]*
    li
        code version
        |  version number consisting of 3 decimal numbers separated by '.'
        br
        | Once a library has been publish, it MUST obey the following versioning scheme (subset from 
        a(href="http://semver.org/", target="_blank")
            | SemVer 2.0
        | ):
        br
        | Given a version number MAJOR.MINOR.PATCH, increment the:
        br
        | MAJOR version when you make incompatible API changes,
        br
        | MINOR version when you add functionality in a backwards-compatible manner, and
        br
        | PATCH version when you make backwards-compatible bug fixes.
        br
        | Additional labels for pre-release and build meta data are 
        b.text-danger
            | not
        |  available for reasons of simplicity.
    li
        code license
        |  name of the license you publish the system with, i.e. "GPL", "GPLv3", "MIT", ...
        br
        | use "CUSTOM" and provide a LICENSE file if you have a custom license.

h4 Optional keys
ul
    li
        code description
        |  a brief summary of what your package does
    li
        code main
        |  the main file to include, otherwise "index.4th" will be assumed

h4 Optional lists
ul
    li
        code tags
        |  a few tags to categorize your package, try to match existing tags
    li
        code dependencies
        |  package-name package-version pairs of packages required by your package


h4 Example package.4th
pre
    | forth-package
    |     key-value name my-package
    |     key-value version 0.1.0
    |     key-value description A brief summary of what your package does
    |     key-value license GPL
    |     key-list tags GPL
    |     key-list tags Some-other-tag
    |     key-list dependencies stringstack 1.0.3
    |     key-list dependencies some-other-package 0.1.x
    | end-forth-package
