//- (c)2015 by Gerald Wodni

extends layout

block content
    .container
        .row
            .col-md-6
                h1
                    | Tags
                h4
                    | Find projects by their Tag

    .container
        .row
            each tag in tags
                .col-sm-6.col-md-4.col-lg-3
                    a.boxItem.tag(href="/tag/#{tag.name}")
                        +fa("tag").icon
                        .name= tag.name

