//- (c)2015-2017 by Gerald Wodni

extends layout

block content
    .container
        .row
            .col-md-8
                if user.details
                    div.details
                        != marked( user.details )
                h2
                    | Packages by 
                    = user.name
                if manage
                    a.btn.btn-primary(href="/profile/upload")
                        i.fa.fa-plus
                        |  Upload package
                    |  
                    a.btn.btn-default(href="/profile/edit")
                        i.fa.fa-user
                        |  Edit profile
                    |  
                    a.btn.btn-default(href="/profile/change-password")
                        i.fa.fa-key
                        |  Change password

                uls.fa-ul
                    each packet in packages
                        li
                            +fa("li fa fa-cube")
                            a(href="/package/#{packet.name}")
                                h3= packet.name
            .col-md-4
                h1.text-center
                    +gravatar( user.emailMd5, user.name, 496 ).img-responsive
                    = user.name

